In [1]:
from tabulate import tabulate

For AND gate:

In [5]:
x1 = []
x2 = []
w1 = []
w2 = []
for i in range(0,4):
  a=int(input())
  x1.append(a)
for i in range(0,4):
  a=int(input())
  x2.append(a)
for i in range(0,4):
  a=int(input())
  w1.append(a)
for i in range(0,4):
  a=int(input())
  w2.append(a)
t = 2
print("x1    x2    w1   w2     t     O")
for i in range(len(x1)):
    if ( x1[i]*w1[i] + x2[i]*w2[i] ) >= t:
        print(x1[i],'   ',x2[i],'   ',w1[i],'   ',w2[i],'   ',t,'   ', 1)
    else:
        print(x1[i],'   ',x2[i],'   ',w1[i],'   ',w2[i],'   ',t,'   ', 0)

0
0
1
1
0
1
0
1
1
1
1
1
1
1
1
1
x1    x2    w1   w2     t     O
0     0     1     1     2     0
0     1     1     1     2     0
1     0     1     1     2     0
1     1     1     1     2     1

For OR gate:

In [6]:
x1 = []
x2 = []
w1 = []
w2 = []
t = 1
for i in range(0,4):
  a=int(input())
  x1.append(a)
for i in range(0,4):
  a=int(input())
  x2.append(a)
for i in range(0,4):
  a=int(input())
  w1.append(a)
for i in range(0,4):
  a=int(input())
  w2.append(a)
print("x1    x2    w1   w2     t     O")
for i in range(len(x1)):
    if ( x1[i]*w1[i] + x2[i]*w2[i] ) >= t:
        print(x1[i],'   ',x2[i],'   ',w1[i],'   ',w2[i],'   ',t,'   ', 1)
    else:
        print(x1[i],'   ',x2[i],'   ',w1[i],'   ',w2[i],'   ',t,'   ', 0)

0
0
1
1
0
1
0
1
0
0
0
0
0
0
0
0
x1    x2    w1   w2     t     O
0     0     0     0     1     0
0     1     0     0     1     0
1     0     0     0     1     0
1     1     0     0     1     0